@@ -0,0 +1,39 @@
### * ###

### !*/ ###

RemoteSystemsTempFiles/
.metadata/
.recommenders/
.gitignore~

target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### !.gitignore ###

### !UsersModule/** ###

Servers/
14 file changes in working directory
View changes
commit:3af884
.gitignore added